@font-face {
  font-family: Vazir;
  src: url('../assets/font/Vazir.woff') format('woff'),
    url('../assets/font/Vazir.ttf') format('truetype')
}

* {
  font-family: Vazir, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  user-select: none;
}

body {
  text-align: center;
  background-color: #e9ecef;
}

button,
select,
.list__button,
.pinned__button {
  cursor: pointer;
}

button {
  transition: .2s !important;
  font-family: Vazir !important;
  text-transform: capitalize !important;
}

button:active {
  transform: scale(0.9);
}


/* Loading */
.loading {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loading__logo {
  width: 96px;
  margin-bottom: 15px;
}


/* Title */
.title {
  margin: 1.5rem 0;
  display: flex;
  justify-content: space-between;
}

.title__button {
  background-color: transparent !important;
}

.title__icon--lang {
  width: 100%;
  height: 100%;
}

.title__header {
  color: gray;
}

.title__content {
  margin-top: 2rem;
}


/* Form */
.form__container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.form__input {
  text-align: center;
  width: 50% !important;
  border-radius: 50rem !important;
  background-color: white !important;
}

.form__button {
  margin: 0 10px;
}

.add {
  font-size: 32px !important;
  padding-top: 2px !important;
}

.form__priority {
  width: 30%;
  margin: 1rem auto;
}

.form__select {
  border-radius: 7px;
}

.form__select,
.form__input {
  font-family: Vazir, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

@media screen and (max-width: 768px) {
  .form__input {
    width: 80% !important;
  }

  .form__priority {
    width: 50%;
  }
}


/* List */
.list {
  display: flex;
  flex-flow: row wrap;
  margin-top: 3rem;
  color: #fff;
}

.list__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

.list__header {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.list__item {
  width: 70%;
  overflow: hidden;
  border-radius: 5px;
  border-bottom: 1px solid;
  outline: none;
}

.list__button {
  transition: .3s;
  width: 100%;
  margin-top: 5px;
  filter: invert(1);
}

.list__image--empty {
  margin: 0 auto;
  width: 400px;
}

@media screen and (max-width: 320px) {
  .list__image--empty {
    width: 260px;
  }
}

.list__button:active,
.pinned__button:active {
  transform: scale(.9);
}


/* Pinned */
.pinned {
  color: #fff;
  top: 0;
  z-index: 100;
  max-width: 200px;
}

.pinned__wrapper {
  display: flex;
  justify-content: end;
}

.pinned__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px !important;
}

.pinned__header {
  margin-bottom: 20px;
}

.pinned__button {
  filter: invert(1);
  transition: .2s;
  height: 20px;
}

.pinned__content {
  overflow: hidden;
  max-width: 80%;
}


/* none-scope */
.card-panel {
  padding: 5px !important;
}

.done {
  text-decoration: line-through;
}