.list {
  color: #fff;
}

.list__container {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.list__header {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.list__item {
  max-width: 80%;
  width: 70%;
  padding: 2px;
  overflow: hidden;
  border-radius: 5px;
  border-bottom: 1px solid;
  outline: none;
}

.list__button {
  cursor: pointer;
  transition: .3s;
}

.list__button:active {
  transform: scale(.9);
}

.done {
  text-decoration: line-through;
}

.card-panel {
  padding: 5px !important;
}